<button class="btn btn-default back_btn" ng-click="back()">Back</button>
<h1>Create a new game</h1>
<p>some help text</p>
<br/><br/>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-4 control-label">Name</label>
		<div class="col-sm-6">
			<input type="text" id="focusedInput" ng-model="game.name" class="form-control" placeholder="Name" size="15" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Genre</label>
		<div class="col-sm-6">
			<select class="form-control" ng-model="game.genre">
				<option ng-repeat="genre in genres">{{capitalize(genre);}}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Initial Concept</label>
		<div class="col-sm-6">
			<select class="form-control" ng-model="game.concept">
				<option ng-repeat="concept in concepts">{{capitalize(concept);}}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Target Ages</label>
		<div class="col-sm-6">
			<select class="form-control" ng-model="game.target">
				<option ng-repeat="ages in target_ages">{{capitalize(ages);}}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-6">
			<button type="submit" class="btn btn-primary" ng-class="isReady()" ng-click="createGame()">Begin Games Development</button>
		</div>
	</div>
</form>