<div class="worker_clipboard">
	<button class="btn btn-default back_btn" ng-click="back()">Back</button>
	<div class="worker_headshot"></div>
	<div class="worker_buttons">
		<button class="btn btn-block btn-danger {{firebtn().state()}}" ng-click="firebtn().click()">{{firebtn().text().main}}</button>
		<button class="btn btn-block btn-success {{learnbtn().state()}}" ng-click="learnbtn().click()">
			{{learnbtn().text().main}}
			<span ng-show="learnbtn().text().money_active" class="icon icon-currency icon-sm"></span>
			{{learnbtn().text().money_value}}
		</button>
		<button class="btn btn-block btn-success {{learnprembtn().state()}}" ng-click="learnprembtn().click()">
			{{learnprembtn().text().main}}
			<span ng-show="learnprembtn().text().money_active" class="icon icon-premcurrency icon-sm"></span>
			{{learnprembtn().text().money_value}}
		</button>
		<button class="btn btn-block btn-primary {{jobbtn().state()}}" ng-click="jobbtn().click()">
			{{jobbtn().text().main}}
			<span ng-show="jobbtn().text().money_active" class="icon icon-currency icon-sm"></span>
			{{jobbtn().text().money_value}}
		</button>
		<button ng-show="jobprembtn().active()" class="btn btn-block btn-primary {{jobprembtn().state()}}" ng-click="jobprembtn().click()">
			{{jobprembtn().text().main}}
			<span ng-show="jobprembtn().text().money_active" class="icon icon-premcurrency icon-sm"></span>
			{{jobprembtn().text().money_value}}
		</button>
	</div>
	<div class="worker_details">
		<h1>{{worker.name}}</h1>
		<div class="bar bar-sm bar-level bar-wrapped">
			<p class="text-left">{{worker.level}}</p>
			<p class="text-right">{{worker.level+1}}</p>
			<div class="bar-inner" ng-style="worker.BarStyle_progress()"></div>
		</div>
		<br/>
		<p>{{worker.name}} takes approximately {{worker.Text_collectTime()}} to complete {{worker.stats.collect.amount}} peice of work. Their work can only be described as {{worker.stats.relevance}} and will cost you ${{worker.stats.collect.cost}}.</p>
		<br/>
		<p>{{worker.name}} is currently level {{worker.level}} and is about {{worker.progress}}% ready to level up. Teaching will cost you ${{worker.stats.progress.cost}} to progress {{worker.stats.progress.amount}}%.</p>

		<div class="worker_stats stat_outer">
			<div class="stat stat_innovation" ng-style="worker.BarStyle_statsI()" popover="Innovation" popover-trigger="mouseenter"></div>
			<div class="stat stat_optimisation" ng-style="worker.BarStyle_statsO()" popover="Optimisation" popover-trigger="mouseenter"></div>
			<div class="stat stat_quality" ng-style="worker.BarStyle_statsQ()" popover="Quality" popover-trigger="mouseenter"></div>
		</div>
	</div>
</div>