<div class="worker_clipboard">
	<button class="btn back_btn" ng-click="back()">Back</button>
	<div class="worker_headshot"></div>
	<div class="worker_buttons">
		<button class="btn btn-block btn-danger {{firebtn().state()}}" ng-click="firebtn().click()">{{firebtn().text()}}</button>
		<button class="btn btn-block btn-success {{learnbtn().state()}}" ng-click="learnbtn().click()">{{learnbtn().text()}}</button>
		<button class="btn btn-block btn-primary {{jobbtn().state()}}" ng-click="jobbtn().click()">{{jobbtn().text()}}</button>
	</div>
	<div class="worker_details">
		<h1>{{worker.name}}</h1>
		<h3>Level {{worker.level}}</h3>
		<div class="pro_bar_out">
			<div class="pro_bar_in" ng-style="worker.BarStyle_progress()"></div>
		</div>
		<p>{{worker.name}} takes approximately {{worker.Text_collectTime()}} to complete {{worker.stats.collect.amount}} peice of work. Their work can only be described as {{worker.stats.relevance}} and will cost you ${{worker.stats.collect.cost}}.</p>
		<br/>
		<p>{{worker.name}} is currently level {{worker.level}} and is about {{worker.progress}}% ready to level up. Teaching will cost you ${{worker.stats.progress.cost}} to progress {{worker.stats.progress.amount}}%.</p>

		<div class="worker_stats stat_outer">
			<div class="stat stat_innovation" ng-style="worker.BarStyle_statsI()" popover="Innovation" popover-trigger="mouseenter"></div>
			<div class="stat stat_optimisation" ng-style="worker.BarStyle_statsO()" popover="Optimisation" popover-trigger="mouseenter"></div>
			<div class="stat stat_quality" ng-style="worker.BarStyle_statsQ()" popover="Quality" popover-trigger="mouseenter"></div>
		</div>
	</div>
</div>


<!-- 
<button class="btn btn-primary btn-block {{startbtnstate()}}" ng-click="startjob()">Start Job (${{getCCost}})</button>
<button class="btn btn-success btn-block {{learnbtnstate()}}" ng-click="learn()"><i class="icon-book icon-white"></i> ${{getPCost}}</button>
<button class="btn btn-danger btn-block {{firebtnstate()}}" ng-click="fire()"><i class="icon-fire icon-white"></i></button>
<button class="btn btn-block">Back</button>
 -->