<div class="container" id="main_view">
	<div class="row">
		<div class="fb-like" data-href="http://www.webdesign.lincoln.ac.uk/08159902/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
	<div class="row">
		<div class="logoimage large">
			<img src="htdocs/img/logo.png" class="img-responsive center-block" alt="Social Game Tycoon">
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h1 class="panel-title text-center">Terms and Conditions</h1>
				</div>
				<div class="panel-body">
					<div class="alert alert-warning">
						<strong>Cookies!</strong> We use cookies to ensure that we give you the best experience on our website. By clicking the 'I Agree' button, we'll assume that you are happy to receive all cookies on this site.
					</div>
					
					<p>
						Please read these terms carefully before continuing. This is an experimental game created for research purposes.
					</p>
					<ol class="small">
						<li>By accepting these terms you agree that we can use your anonymous data for analysis.</li>
						<li>No personal information is held by this site. It is strictly anonymous.</li>
						<li>Views and opinions expressed on this site is do not necessarily express the views of the University of Lincoln.</li>
						<li>We reserve the right to remove all of your data and account.</li>
						<li>Log in procedures are handled using either Facebook, Twitter or Google, responsibility for passwords are held with them alone.</li>
						<li>This site will not be liable for any loss including but not limited to the following (whether such losses are foreseen, known or otherwise) loss of data, loss of revenue or anticipated profit, loss of business, loss of opportunity, loss of goodwill or injury to reputation, losses suffered by third parties, any indirect, consequential or exemplary damages.</li>
						<li>This site does not warrant that the functions contained in the Website will be uninterrupted or error free or that the server that makes it available are free of viruses or bugs.</li>
						<li>These terms shall be governed and interpreted in accordance with the laws of England and Wales.</li>
					</ol>
				</div>
				<div class="panel-footer">
					<button class="btn btn-danger btn-lg" type="button" ng-click="ClickDisagree()">I Disagree</button>
			    	<button class="btn btn-success btn-lg pull-right" type="button" ng-click="ClickAgree()">I Agree</button>
				</div>
			</div>
		</div>
	</div>
</div>