<div class="container" id="main_view">
	<div id="sharebar" class="row" ng-include src="'page/view/sharebar/template.html'"></div>
	<div class="row">
		<div class="col-md-2">
			<a class="navbar-brand logoimage small" ui-sref="main">
				<img src="htdocs/img/logo.png" class="img-responsive" alt="Social Game Tycoon">
			</a>
		</div>
		<div class="col-md-7">
			<ul id="mainNav" class="nav nav-pills nav-justified">
				<li><a ui-sref="main.office">Home</a></li>
				<li><a ui-sref="help">Help</a></li>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="shop">Shop</a></li>
				<li class="dropdown active">
					<a class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a>Terms and Conditions</a></li>
						<li><a ng-click="removeAccount()">Remove Account</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well well-lg">
			<h1>Terms and Conditions</h1>
			<hr/>
			<p>Please read these terms carefully. This is an experimental game created for research purposes.</p>
			<ol>
				<li>By accepting these terms you agree that we can use your anonymous data for analysis.</li>
				<li>No personal information is held by this site. It is strictly anonymous.</li>
				<li>Views and opinions expressed on this site is do not necessarily express the views of the University of Lincoln.</li>
				<li>We reserve the right to remove all of your data and account.</li>
				<li>Log in procedures are handled using either Facebook, Twitter or Google, responsibility for passwords are held with them alone.</li>
				<li>This site will not be liable for any loss including but not limited to the following (whether such losses are foreseen, known or otherwise) loss of data, loss of revenue or anticipated profit, loss of business, loss of opportunity, loss of goodwill or injury to reputation, losses suffered by third parties, any indirect, consequential or exemplary damages.</li>
				<li>This site does not warrant that the functions contained in the Website will be uninterrupted or error free or that the server that makes it available are free of viruses or bugs.</li>
				<li>These terms shall be governed and interpreted in accordance with the laws of England and Wales.</li>
			</ol>
		</div>
	</div>
</div>