<div class="container" id="main_view">
	<div class="row">
		<div class="col-md-2">
			<a class="navbar-brand logoimage small" ui-sref="main">
				<img src="htdocs/img/logo.png" class="img-responsive" alt="Social Game Tycoon">
			</a>
		</div>
		<div class="col-md-7">
			<ul id="mainNav" class="nav nav-pills nav-justified">
				<li><a ui-sref="main.office">Home</a></li>
				<li><a ui-sref="help">Help</a></li>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="shop">Shop</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a>Terms and Conditions</a></li>
						<li><a ng-click="removeAccount()">Remove Account</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well well-lg">
			<h1>Terms and Conditions</h1>
			<p>
				Please read these terms carefully before continuing. This website has been created and published by a student at the University of Lincoln for a dissertation project. If you do not agree to these terms of use, do not use the site.
			</p>
			<br/>
			<ol>
				<li>By accepting these terms you agree that I, the student and creator can use your anonymous data for analysing.</li>
				<li>Views and opinions expressed on this site is do not necessarily express the views of the University of Lincoln.</li>
				<li>I, the student and creator reserve the right to remove your data and account.</li>
				<li>No personal information is held by this site.</li>
				<li>Log in procedures are handled using either Facebook, Twitter or Google, responsibility for passwords are held with them alone.</li>
				<li>Users are authenticated for a 30 day period via the use of a cookie. Logging out or closing the browser will refresh any authentication.</li>
				<li>If you access the website via a shared platform, remember to log out or close the browser as it can be accessed without re-authentication. I take no responsibility for instructions passed in this time.</li>
				<li>This site will not be liable for any loss including but not limited to the following (whether such losses are foreseen, known or otherwise) loss of data, loss of revenue or anticipated profit, loss of business, loss of opportunity, loss of goodwill or injury to reputation, losses suffered by third parties, any indirect, consequential or exemplary damages.</li>
				<li>This site does not warrant that the functions contained in the Website will be uninterrupted or error free or that the server that makes it available are free of viruses or bugs.</li>
				<li>These terms shall be governed and interpreted in accordance with the laws of England and Wales.</li>
			</ol>
		</div>
	</div>
</div>