<div class="container" id="main_view">
	<div id="sharebar" class="row" ng-include src="'page/view/sharebar/template.html'"></div>
	<div class="row">
		<div class="col-md-2">
			<a class="navbar-brand logoimage small" ui-sref="main.office">
				<img src="htdocs/img/logo.png" class="img-responsive" alt="Social Game Tycoon">
			</a>
		</div>
		<div class="col-md-7">
			<ul id="mainNav" class="nav nav-pills nav-justified">
				<li><a ui-sref="main.office">Home</a></li>
				<li><a ui-sref="help">Help</a></li>
				<li><a ui-sref="about">About</a></li>
				<li class="active"><a ui-sref="shop">Shop</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a ui-sref="terms">Terms and Conditions</a></li>
						<li><a ng-click="removeAccount()">Remove Account</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well well-lg">
			<h1>Shop</h1>
			<hr/>
			<p>
				At this moment in time you won't be able to buy anything with actual money, sorry for the convenience.
			</p>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="htdocs/img/packs/sd_pack.jpg" alt="Deluxe Pack Unavailable">
					<div class="caption">
						<h3>The Standard Pack</h3>
						<ul class="list-unstyled">
							<li><span class="icon icon-currency icon-sm"></span> 5000</li>
							<li><span class="icon icon-premcurrency icon-sm"></span> 10</li>
						</ul>
						<button type="button" class="btn btn-primary btn-block" ng-click="sharebtn()">FB Share</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="htdocs/img/packs/sd_pack.jpg" alt="...">
					<div class="caption">
						<h3>The Slightly Better Pack</h3>
						<ul class="list-unstyled">
							<li><span class="icon icon-currency icon-sm"></span> 10000</li>
							<li><span class="icon icon-premcurrency icon-sm"></span> 50</li>
						</ul>
						<button type="button" class="btn btn-primary btn-block" ng-click="takesurvey()">Take Survey</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="htdocs/img/packs/pack_disabled.png" alt="Wizard Pack Unavailable">
					<div class="caption">
						<h3>?????????</h3>
						<p>?????</p>
						<button type="button" class="btn btn-primary btn-block" disabled="disabled">Purchase</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>