<div class="modal-header">
	<h3>Welcome to Social Game Tycoon</h3>
</div>
<div class="modal-body">
	<p>
		This site uses cookies to identify who you are without you needing to sign in continuely, by clicking the agree button you consent to this and agree to the terms of service listed below.
	</p>
	<p class="small">
		Please read these terms carefully before continuing. This website has been created and published by a student at the University of Lincoln for a dissertation project. If you do not agree to these terms of use, do not use the site.
	</p>
	<ol class="small">
		<li>By accepting these terms you agree that I, the student and creator can use your anonymous data for analysing.</li>
		<li>Views and opinions expressed on this site is do not necessarily express the views of the University of Lincoln.</li>
		<li>I, the student and creator reserve the right to remove your data and account.</li>
		<li>No personal information is held by this site.</li>
		<li>Log in procedures are handled using either Facebook, Twitter or Google, responsibility for passwords are held with them alone.</li>
		<li>Users are authenticated for a 30 day period via the use of a cookie. Logging out or closing the browser will refresh any authentication.</li>
		<li>If you access the website via a shared platform, remember to log out or close the browser as it can be accessed without re-authentication. I take no responsibility for instructions passed in this time.</li>
		<li>This site will not be liable for any loss including but not limited to the following (whether such losses are foreseen, known or otherwise) loss of data, loss of revenue or anticipated profit, loss of business, loss of opportunity, loss of goodwill or injury to reputation, losses suffered by third parties, any indirect, consequential or exemplary damages.</li>
		<li>This site does not warrant that the functions contained in the Website will be uninterrupted or error free or that the server that makes it available are free of viruses or bugs.</li>
		<li>These terms shall be governed and interpreted in accordance with the laws of England and Wales.</li>
	</ol>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">I Agree</button>
	<button class="btn btn-danger" ng-click="cancel()">I Disagree</button>
</div>