<div class="modal-header">
	<h3>{{worker.name}}</h3>
	<div class="level_bar">
		<div class="leftside">{{worker.level}}</div>
		<div class="pro_bar_out"><div class="pro_bar_in" ng-style="getBar()"></div></div>
		<div class="rightside">{{worker.level+1}}</div>
	</div>
</div>
<div class="modal-body">
	<div class="modal-half">
		<p>{{worker.name}} takes approximately {{getCTime}} to complete {{getCAmount}} peice of work. Their work can only be described as {{getLRel}} and will cost you ${{getCCost}}</p>
		
		<div class="stat_outer">
			<div class="stat stat_{{stat.name}}" ng-repeat="stat in getStats" ng-style="stat.style" popover="{{stat.name}}" popover-trigger="mouseenter"></div>
		</div>
	</div>
	<div class="modal-half">
		<button class="btn btn-primary btn-block {{startbtnstate()}}" ng-click="startjob()">Start Job (${{getCCost}})</button>
		<button class="btn btn-success btn-block {{learnbtnstate()}}" ng-click="learn()"><i class="icon-book icon-white"></i> ${{getPCost}}</button>
		<button class="btn btn-danger btn-block {{firebtnstate()}}" ng-click="fire()"><i class="icon-fire icon-white"></i></button>
		<button class="btn btn-block" ng-click="close()">Cancel</button>
	</div>
</div>