/**********************
MAIN FILE WHICH TO COMPILE FROM
***********************/


/**********************
PREREQUISITES
***********************/
@import "elements.less";
@import "gameobjects.less";

.nav, .pagination, .carousel a { cursor: pointer; }
.state_inactive { display: none !important; }
html, body, #outer_wrap, #main_view { 
    background-color: #E8E6E3;
    height: 100%;
}



/**********************
SETUP MAIN GAME PAGES
***********************/
#main_view {
    &.state_notloaded {
        background-position: center center;
        background-size: auto auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url('../img/loading.gif');
    }
    #game_head {
        height: 10%;
        img { height: 100%; }
    }
    #game_progress {
        height: 8%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        .rounded(5px);
        position: relative;
        &.state_empty {
            border-style: dashed;
            border-width: 5px;
            border-color: #C7C7C7;
            &:after {
                content: "Click to Add Game";
                text-align: center;
                position: absolute;
                top: 50%; bottom: 50%; left: 0; right: 0;
                line-height: 0;
                font-size: 30px;
                color: #999;
            }
            &:hover {
                background-color: #F1F1F1;
                cursor: pointer;
            }
        }
    }
    #game_space {
        height: 79%;
        #game_studio { 
            height: 100%; 
            position: relative;
        }
        #game_history {
            height: 100%;
            margin-left: 0px;
            .ui_style();
        }
    }
}

/**********************
IMPORT FILES FOR OTHER PAGES
***********************/
@import "office.less";
@import "worker.less";
