<div class="container {{dataState}}" id="main_view">
	<div id="game_head" class="row">
		<!-- <img class="pull-left" src="/htdocs/img/logo.png"/> -->
		<h1 class="pull-left">{{userdata.company.name}}</h1>
		<div class="pull-right tabbable tabs-below">
			<ul class="nav nav-pills">
        		<li class="disabled"><a href="#">${{userdata.company.currency}}</a></li>
        		<li class="disabled"><a href="#">£{{userdata.company.prem_currency}}</a></li>
        		<li class="disabled"><a href="#">{{userdata.company.xp}}xp</a></li>
        		<li class="disabled"><a href="#">{{userdata.company.level}}</a></li>
        		<li class="divider"></li>
        		<li class="active"><a href="#">SHOP</a></li>
        	</ul>
		</div>
	</div>
	<div id="game_progress" class="row">
		<button class="btn btn-primary" type="button">ADD GAME</button>
	</div>
	<div id="game_space" class="row">
		<div id="game_studio" class="span8">
	        <div class="slot_output" ng-repeat="slot in slots.getSlots()">
	        	<div class="pro_bar_out collect {{slots.getSlot_class($index)}}">
	        		<div class="pro_bar_in" ng-style="slots.getBar_style($index)"></div>
	        		<p>{{slots.getBar_text($index)}}</p>
	        	</div>
	        	<div class="desk {{slots.getSlot_class($index)}}" ng-click="slots.clickevent($index)"></div>
	        </div>
		</div>
		<div id="game_history" class="span4">Previous games</div>
	</div>
</div>