<div class="container" id="main_view">
	<div class="row">
		<div class="col-md-2">
			<a class="navbar-brand logoimage small" ui-sref="main">
				<img src="htdocs/img/logo.png" class="img-responsive" alt="Social Game Tycoon">
			</a>
		</div>
		<div class="col-md-7">
			<ul id="mainNav" class="nav nav-pills nav-justified">
				<li class="active"><a ui-sref="main.office">Home</a></li>
				<li><a ui-sref="help">Help</a></li>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="shop">Shop</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a>Terms and Conditions</a></li>
						<li><a>Remove Account</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div id="game_space" class="row">
		<div id="game_studio" class="col-md-8" ui-view></div>
		<div id="game_history" class="col-md-4">
			<div class="panel panel-default" >
				<div class="panel-heading">
					<h2>{{data.company.name}}</h2>
					<div class="bar bar-sm bar-level bar-wrapped">
						<p class="text-left">{{data.company.level}}</p>
						<p class="text-right">{{data.company.level+1}}</p>
						<div class="bar-inner" ng-style="{right: 100-data.company.xp+'%'}"></div>
					</div>
					<ul class="list-inline">
						<li><span class="glyphicon glyphicon-usd"></span> {{data.company.currency}}</li>
						<li><span class="glyphicon glyphicon-gbp"></span> {{data.company.prem_currency}}</li>
						<li><span class="glyphicon glyphicon-time"></span> {{years}} years {{months}} months  </li>
					</ul>
				</div>
				<div class="panel-body">
					<div ng-show="activegames()" class="alert alert-info game_display" ng-repeat="game in data.games | filter:{ state: activeGameState }">
						<strong>{{game.name}}</strong>
						<button type="button" class="btn btn-game btn-xs pull-right"><span class="glyphicon glyphicon-cog"></span></button>

						<p class="pull-right">{{game.popularity}}</p>
					</div>
					<div ng-hide="activegames()" class="alert alert-danger">
						<strong>No Games Published</strong>
						<p>Create a game and once fully developed it will start earning you money</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>