<div class="col-xs-1 col-xs-offset-1">
	<iframe 
		allowtransparency="true" 
		frameborder="0" 
		scrolling="no"
        src="https://platform.twitter.com/widgets/tweet_button.html"
        style="width:130px; height:20px;">
    </iframe>
 </div>
<div class="col-xs-1">
	<iframe 
		src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.webdesign.lincoln.ac.uk%2F08159902%2F&amp;width=50px&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=742843465743316" 
		scrolling="no" 
		frameborder="0" 
		style="border:none; overflow:hidden; height:25px;" 
		allowTransparency="true">
	</iframe>
</div>