<div class="modal-header">
	<h3>Welcome to Social Game Tycoon</h3>
</div>
<div class="modal-body">
	<p>
		Hello there! 
		<br/><br/>
		A company named <input id="focusedInput" type="text" class="form-control intialinput" ng-model="form.companyname" placeholder="Name Your Company" required> are looking at hiring a new CEO!
		<br/><br/>
		Do you lack the skills? enjoy money? then this is the job for you!
		<br/><br/>
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary btn-block {{set_state(form.companyname)}}" ng-click="ok(form.companyname)">Create Company</button>
</div>